
<div ng-class="{'has-error': helpers.hasError(this.$parent.$parent, field.id)}" class="form-group">
  <label ng-show="field.name" for="{{field.id}}" class="col-md-3 control-label">{{field.name}}</label>
  <div class="col-md-4">
    <input id="{{field.id}}" name="{{field.id}}" type="text" ng-model="field.value" ng-required="field.required" class="form-control"/><span ng-if="field.required" ng-show="helpers.hasError(this.$parent.$parent, field.id, 'required')" class="help-block error">{{field.name}} is required.</span><span ng-if="!!field.minlength &amp;&amp; field.minlength &gt; 0" ng-show="helpers.hasError(this.$parent.$parent, field.id, 'minlength')" class="help-block error">{{field.name}} must be at least {{field.minlength}} characters long.</span>
  </div>
</div>